<plugin name='simian' version='0.1-SNAPSHOT' grailsVersion='1.3.7 &gt; *'>
  <author>huweihong</author>
  <authorEmail>weihong0427@163.com</authorEmail>
  <title>Simian for Grails</title>
  <description>Simian plugin identifies duplication for Grails app code,such as .groovy,.gsp,.java,.js,.css ..., and generate report file(html,xml).
</description>
  <documentation>https://github.com/huweihong/grails-simian-plugin/blob/master/README.md</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>